# Variablen

Eine "Variable" ist ein Platzhalter für einen Wert, wie z.B. einer Zahl.

Man kann sich eine Variable wie eine Schublade vorstellen, die mit einem Namen beschriftet ist. 

Wenn wir ihr einen Wert zuweisen, legen wir diesen quasi in die Schublade.

In [1]:
a = 1    # weist der Variablen a den Wert 1 zu
b = a    # weist der Variablen b den Wert von a, also 1 zu

In der Schublade mit der Aufschrift "a" liegt jetzt der Wert 1.
In der Schublade mit der Aufschrift "b" liegt ebenfalls der Wert 1.

In [2]:
print("a hat den Wert", a)
print("b hat den Wert", b)

a hat den Wert 1
b hat den Wert 1

In [3]:
a = a + 1     # wir können a einen neuen Wert geben. b behält seinen Wert

In [4]:
print("a hat den Wert", a)
print("b hat den Wert", b)

a hat den Wert 2
b hat den Wert 1

In [5]:
pi = 3.141592
r = 0.5
print(2 * r * pi)

3.141592

In [6]:
lieblingseis = "Vanille"
print(lieblingseis, "ist meine Lieblingseissorte.")

Vanille ist meine Lieblingseissorte.

## Es gibt noch anderere Datentypen, wie z.B. die Liste:

In [7]:
primzahlen = [1, 2, 3, 5, 7, 11, 13, 17, 19]
print("Die ersten Primzahlen lauten:", primzahlen)

Die ersten Primzahlen lauten: [1, 2, 3, 5, 7, 11, 13, 17, 19]

In [8]:
print("Die erste Primzahl lautetet:", primzahlen[0])
print("Die zweite Primzahl lautetet:", primzahlen[1])
print("Die vierte Primzahl lautetet:", primzahlen[3])

Die erste Primzahl lautetet: 1
Die zweite Primzahl lautetet: 2
Die vierte Primzahl lautetet: 5

In [9]:
print("Die ersten 3 Primzahlen lauten:", primzahlen[:3])

Die ersten 3 Primzahlen lauten: [1, 2, 3]

In [10]:
print("Nach den 3 ersten Primzahlen gibt es in unserer Liste die folgenden:", primzahlen[3:])

Nach den 3 ersten Primzahlen gibt es in unserer Liste die folgenden: [5, 7, 11, 13, 17, 19]

## Wie können wir den Wert von zwei Variablen tauschen?

Wir versuchen es "ganz naiv" erst mal so:

In [11]:
a = 1
b = 100

a = b
b = a

print("a hat den Wert", a)
print("b hat den Wert", b)

a hat den Wert 100
b hat den Wert 100

Das Tauschen hat nicht funktioniert.

Als erstes hat hier a den Wert von b bekommen, also 100. Jetzt haben a und b den Wert 100.  Wenn wir danach b den Wert von a geben, ist b immer noch 100 und nicht etwa 1.

Was tun?

In [12]:
# erste Möglichkeit: wir nehmen eine Variable c zu Hilfe:

a = 1
b = 100

c = a
a = b
b = c

print("a hat den Wert", a)
print("b hat den Wert", b)

a hat den Wert 100
b hat den Wert 1

In [13]:
# zweite Möglichkeit: 
# wir "vertauschen" gleichzeitig:

a,b = b,a

print("a hat den Wert", a)
print("b hat den Wert", b)

a hat den Wert 1
b hat den Wert 100

## Wie werden die gängigen Rechenoperationen geschrieben?

In [14]:
a = 10
b = 3

In [15]:
a + b

13

In [16]:
a - b

7

In [17]:
a * b

30

In [18]:
a / b

3.3333333333333335

In [19]:
a % b       # der Rest, wenn man a durch b teilt. 10 / 3 ist 3 ganze, 1 Rest.

1

In [20]:
a ** b      # a hoch b, also a * a * a   oder 10 * 10 * 10

1000

# Kontroll-Strukturen

##  if, else- Bedingung

Wenn wir prüfen wollen, ob eine Aussage stimmt, benutzen wir "if":

In [21]:
if a > b:
    print("a ist größer als b")
else:
    print("a ist nicht größer als b")

a ist größer als b

## Vergleichs-Operatoren

Wir haben eben `>` verwendet. Das steht für "größer".

* `==` bedeutet dass die zwei Seiten gleich sind. Bsp.: `if a == 4` wird ausgeführt, wenn a gleich dem Wert 4 ist.
* `!=` bedeutet, dass die zwei Seiten ungleich sind.
* `<` heißt kleiner
* `>=` bedeutet größer oder gleich und
* `<=` bedeutet kleiner oder gleich

## Schleifen

Manchmal möchten wir etwas mehrfach machen. Wir haben mehrere Möglichkeiten:

### while - Bedinung

Hier wird etwas so lange ausgeführt, bis die Bedingung wahr ist:

In [22]:
# 2-er Potenzen unter 100 berechnen
x = 2
while x < 100:
    print(x)
    x = x * 2

2
4
8
16
32
64

### for - Schleife

In [23]:
gewinner = ['Jan', 'Lars', 'Klas', 'Pit']

for name in gewinner:
    print(name, "hat im Lotto gewonnen.")

Jan hat im Lotto gewonnen.
Lars hat im Lotto gewonnen.
Klas hat im Lotto gewonnen.
Pit hat im Lotto gewonnen.

Diese Schleifen lassen sich auch verschachteln, z.B., um Doppelnamen zu generieren:

In [24]:
namen = ['Mia', 'Sophie', 'Emma', 'Lara']

for name1 in namen:
    for name2 in namen:
        if name1 != name2:
            print(name1, name2)

Mia Sophie
Mia Emma
Mia Lara
Sophie Mia
Sophie Emma
Sophie Lara
Emma Mia
Emma Sophie
Emma Lara
Lara Mia
Lara Sophie
Lara Emma

Oder für die, die das Einmal-Eins noch mal üben wollen:

In [25]:
for i in range(5,10):
    for j in range(5,10):
        print(f"{i} * {j} = {i * j}")
        
    print()    # Leere Zeile einfügen

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

die doppelten Einträge stören? Wir haben z.B. 5 * 8 und 8 * 5 drin - also doppelt.

Wie können wir das lösen?

In [26]:
for i in range(5,10):
    for j in range(i,10):       # hier haben wir mit i angefangen!
        print(f"{i} * {j} = {i * j}")
        
    print()    # Leere Zeile einfügen

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 8 = 64
8 * 9 = 72

9 * 9 = 81

# Funktionen

Wir hatten uns gefragt, ob wir auch so etwas, wie eine "Formel" schreiben können.

Wir möchten z.B. $1 + \dfrac{3}{4}$ berechnen, oder allgemein $a + \dfrac{b}{c}$.

Ja, das geht. Man nennt das eine "Funktion". 

Wir können eine Funktion erstellen, die wir "erweitere" nennen und die 3 Parameter a, b, c verwendet:

In [27]:
def erweitere(a, b, c):
    return a * c + b

Wir können diese Methode jetzt aufrufen - müssen ihr aber Werte für a, b und c übergeben:

In [28]:
erweitere(1, 3, 4)

7

Hier gibt uns die Methode "erweitere" $7$ zurück. Das heißt für uns $1 + \dfrac{3}{4} = \dfrac{7}{4}$

In [29]:
erweitere(2, 1, 2)

5

$2 + \dfrac{1}{2}$ sind $\dfrac{5}{2}$

**Aufgabe 1:**

Schreibe eine Funktion, die eine Zahl quadriert.

Nenne sie "quadriere". Wie viele Parameter hat sie? Was soll sie zurückgeben?

Wenn du dich an der Definition von "erweitere" orientierst, schaffst du das!

#### Aufgabe 2:

*Wie könnten wir eine Funktion schreiben, die zu einer gegebenen Zahl die Fakultät der Zahl berechnet?*

Zur Erinnerung: Für "Fakultät" schreiben wir ein "!".

Es gilt:  

$1! = 1$ 

und 

$2! = 2 * 1!$ 

sowie 

$3! = 3 * 2!$ 

oder ganz allgemein: 

$n! = n * (n - 1)!$.

**Tipp:** 

Erstelle eine Methode. In der Methode mache eine Fallunterscheidung, ob $n == 1$ ist oder nicht. 

Kannst du in der Methode die Methode selbst aufrufen?

# Zusätzliche Bibliotheken laden

Für Python gibt es unglaublich viele Bibliotheken, die Aufgaben für uns verrichten. Wir können Sie laden, indem wir

```
import HierNameDerBibliothekEinsetzen
```

schreiben.

Bsp:

In [30]:
import math

In [31]:
math.pi         # die berühmte Zahl π

3.141592653589793

In [32]:
math.floor(3.77)    # gibt uns die nächst-kleinere ganze Zahl aus

3

In [33]:
math.floor(-3.6)    # ... ja, die nächst- *kleinere* ! Hier sind wir im negativen Zahlenraum

-4

In [34]:
math.factorial(5)    # Berechnet 5! (5 Fakultät)

120

Wen das Thema interessiert, der kann man schauen, was es noch so an Bibliotheken gibt.

Zu den wichtigsten Python-Bibliotheken zählen:

* Pandas
* Numpy
* SciPy
* TensorFlow
* Scikit-Learn
* Keras

# Brüche formatiert ausgeben

Viele mathematische Arbeiten werden mit einem Format gesetzt, das "Latex" heißt.


Jupyter unterstützt ebenfalls Latex.

Bsp.-weise kann man mit `$ \dfrac{zaehler}{nenner} $` einen Bruch darstellen. Das sieht dann so aus: $\dfrac{zaehler}{nenner}$. Das "$"- Zeichen am Anfang und am Ende zeigt an, dass jetzt ein Inhalt kommt, der in Latex gesetzt wurde.

Einen Kettenbruch kann man darstellen, indem man in den zweiten geschweiften Klammern wieder `\dfrac{...}{...}` schreibt. 


Bsp.: `$ \dfrac{1}{2 + \dfrac{3}{4} } $` ergibt $\dfrac{1}{2+ \dfrac{3}{4}}$.

Wenn wir also eine Liste wie `[1,2,3,4]` haben, können wir den dazugehörigen Kettenbruch durch geschicktes Verschachteln von `\dfrac{}{ ... }` formatieren.

`$ 1 + \dfrac{ 1}{ 2 + \dfrac{ 1}{ 3 + \dfrac{ 1}{ 4 } } } $` ergibt 

$1 + \dfrac{ 1}{ 2 + \dfrac{ 1}{ 3 + \dfrac{ 1}{ 4 } } }$